<div class="panel panel-default" style="margin: 25px auto; text-align: left; padding-left: 15px; width: 50vh">
    <div class="panel-body">
        <h4>Name has been added!</h4>
        <button class="btn btn-default pull-right" type="button">Update</button>
    </div>
</div>