{{!-- Loop to create a button for every option this question has --}}
{{!-- {{#each options}} --}}
    {{!-- create a container for each button --}}
        {{!-- form-input-button class is solely for styling purposes --}}
        {{!-- "option-index" is used to relate the clicked button back to the option in the question object. The @index handlebar helper is used to enter the index of the loop for this purpose --}}
    <div class="radio col-md-4 form-input-button" option-index={{@index}}>
        <label>
            <input type="radio">
            <h2>{{this}}</h2>
        </label>
    </div>
{{!-- {{/each}} --}}