{{!-- create a container for each button --}}
    {{!-- form-input-field class is solely for styling purposes --}}
<div class="col-md-4 form-input-field">
    <form>
        <div class="form-group">
            <label for=""></label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder={{question.options}}>
        </div>
    </form>
</div>