<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
    <input type="input" id="firstName" class="form-control" aria-describedby="emailHelp" placeholder="Enter name">
    <small  class="form-text text-muted"></small>
  </div>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Last Name</label>
    <input type="input"id="lastName"class="form-control" aria-describedby="emailHelp" placeholder="Enter name">
    <small  class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password">
  </div>
  <button type="submit" id="newSubmit" class="btn btn-primary">Submit</button>
</form>
<script src="./js/newAccount.js"></script>