<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4" style="height: 20vh">

  {{> index/title}}

        </div>
        <div class="col-xl-4"></div>
    </div>

    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">

            <button id="add-link" type="button" id="addPerson" class="btn btn-info">
                <i style="height: 40%" class="fas fa-user-plus fa-10x"></i>
                <h4 style="margin: 0">Add a Link</h4>
            </button>

        </div>
        <div class="col-xl-4"></div>

    </div>

    <div class="row"></div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <div class="row contacts">
                <button id="view-links" type="button" class="btn btn-warning">
                    <h3>View My Links</h3>
                </button>
            </div>

        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-md-12" style="margin-top: 30px">
            <a href="/logout">Logout</a>
        </div>
    </div>

</div>

<script src="js/main.js"></script>