<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4" style="height: 20vh">

        {{> index/newPerson}}

        {{> index/title}}

        </div>
        <div class="col-xl-4"></div>
    </div>

    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">

            <button type="button" class="btn btn-info" style="border-radius: 50%; height: 40vh; width: 40vh; margin: 30px 0">
                <i style="height: 40%" class="fas fa-user-plus fa-10x"></i>
                <h4 style="margin: 0">Add a Person</h4>
            </button>

        </div>
        <div class="col-xl-4"></div>

    </div>

    <div class="row"></div>

    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">

            <div class="row contacts">
                <button id="view-links" type="button" class="btn btn-warning" style="width: 50vh; margin-top: 45px">
                    <h3>View My Links</h3>
                </button>
            </div>

        </div>
        <div class="col-xl-4"></div>

    </div>

</div>

<script>
    $(".view-links").
</script>