<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4" style="height: 20vh">

            <div class="panel panel-default" style="margin: 25px auto; text-align: left; padding-left: 15px; width: 50vh">
                <div class="panel-body" style="display: in-line block">
                    <h4 class="alert" style="float: left">Name has been added!</h4>
                    <button class="btn btn-default pull-right" type="button">Update</button>
                </div>
            </div>

            <div class="welcome-title">
                <h1 style="font-size: 48px">First</h1>
                <h1 style="font-size: 48px">Impression</h1>
            </div>

        </div>
        <div class="col-xl-4"></div>
    </div>

    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">

            <button type="button" class="btn btn-primary" style="border-radius: 50%; height: 40vh; width: 40vh; margin: 30px 0">
                <i style="height: 40%" class="fas fa-user-plus fa-10x"></i>
                <h4 style="margin: 0">Add a Person</h4>
            </button>

        </div>
        <div class="col-xl-4"></div>

    </div>

    <div class="row"></div>

    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">

            <div class="row contacts">
                <button type="button" class="btn btn-primary " style="width: 50vh; margin-top: 45px">
                    <h3 style="margin: 10px 0">View My People</h3>
                </button>
            </div>

        </div>
        <div class="col-xl-4"></div>

    </div>

</div>