<div class="container">
    <div class="row">
        <div class="col-md-6"style="text-align: center; margin: 0 auto; margin-top: 25px;">
                    <h1>My Links</h1>
        </div>
    </div>

    <div class="row">
        <div class="input-group" style="width: 50%; margin: 25px auto">
            <input type="text" class="form-control" id="getId" placeholder="Enter keyword(s) here">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
    </div>

    <div class="row" style="width: 90%; margin: 0 auto">
       {{> people/thumbnails }}
    </div>
</div>
