<div class="container">
    <div class="row" style="margin-top: 25px">
        <h1 style="text-align: center">First Impressions</h1>
    </div>

    <div class="row">
        <div class="input-group" style="width: 50%; margin: 25px auto">
            <input type="text" class="form-control" placeholder="Enter keyword(s) here">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
    </div>

    <div class="row" style="width: 90%; margin: 0 auto">
        <!-- <div class="panel panel-default name-card" style="margin: 10px; text-align: left; width: 42.5%; float: left">
                <div class="panel-body">
                    <h4>First/Last Name</h4>
                    <p>Where we met</p>
                </div>
            </div> -->


        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <div class="caption">
                    <h4>First/Last Name</h4>
                    <p>Where we met</p>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <div class="caption">
                    <h4>First/Last Name</h4>
                    <p>Where we met</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <div class="caption">
                    <h4>First/Last Name</h4>
                    <p>Where we met</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <div class="caption">
                    <h4>First/Last Name</h4>
                    <p>Where we met</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <div class="caption">
                    <h4>First/Last Name</h4>
                    <p>Where we met</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <div class="caption">
                    <h4>First/Last Name</h4>
                    <p>Where we met</p>
                </div>
            </a>
        </div>



    </div>
</div>