{{!-- Header asking for a particular type of informtion --}}
<div class="container">
    <row>
        <div class="col-offset-md-12" id="question-text">Trait/Question Here</div>
    </row>


{{!-- Populate the page with the appropriate template depending on the question type --}}
  {{!-- 3 types (radio, one-click, and entry) --}}
  <div class="row">
    {{#if question.type="radio"}}
      {{> radio}}
    {{/if}}
    {{#if question.type="one-click"}}
      {{> oneClick}}
    {{/if}}
    {{#if question.type="entry"}}
      {{> userEntry}}
    {{/if}}

  {{!-- Skip button in case the user doesn't want to enter this particular data --}}
  <button type="button" class="btn btn-danger" id="skip-question">Skip</button>
  </div>
</div>