{{!-- Header asking for a particular type of informtion --}}
<div class="container">
    <div class="row">
        <div class="col-md-12" id="question-header-text" question-type="{{question.type}}" question-id="{{question.id}}" num-questions={{question.options.length}}>
          <h1 >{{question.title}}</h1>
        </div>
    </div>

{{!-- Populate the page with the appropriate template depending on the question type --}}
  {{!-- 4 types (check, selectOne, textShort, and textLong) --}}
  <div class="row answer-thumbnails">
    {{!-- Load select template with checkboxes --}}
    {{#ifCond question.type "check"}}
      {{> addnew/select isCheckbox="yes" }}
    {{/ifCond}}

    {{!-- Load select template where only a single answer can be selected --}}
    {{#ifCond question.type "selectOne"}}
      {{> addnew/select isCheckbox="no" }}
    {{/ifCond}}

    {{!-- Load user entry field with single line input --}}
    {{#ifCond question.type "textShort"}}
      {{> addnew/userEntry numRows="1"}}
    {{/ifCond}}

    {{!-- Load user entry field with large input area, number of rows is passed in from here --}}
    {{#ifCond question.type "textLong"}}
      {{> addnew/userEntry numRows="5"}}
    {{/ifCond}}

    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-primary" id="next-button">Next</button>
        <button type="button" class="btn btn-danger" id="done-button">Done</button>
      </div>
    </div>
  </div>
</div>

{{!-- Javascript file for interacting with answers --}}
<script src="./js/form.js"><{{!}}/script>