{{#each question.answers}}
    {{!-- form-input-field class is solely for styling purposes --}}
    <div class="col-offset-md-2 col-offset-sm-1 col-offset-xs-0"></div>
    <div class="col-md-8 col-sm-10 col-xs-12 form-input-field">
        <form>
            <div class="form-group">
                <label for=""></label>
                <textarea rows="{{../numRows}}" class="form-control answer-text" option-index={{@index}} placeholder={{this}}></textarea>
            </div>
        </form>
    </div>
{{/each}}