{{#each people}}
<div class="col-xs-6 col-md-3">
    <a href="/update/{{id}}" class="thumbnail">
        <div class="caption card-name">
            <h4>{{name}}</h4>
            <p>{{where}}</p>
        </div>
    </a>
</div>
{{/each}}