{{#each contacts}}
<div class="col-xs-6 col-md-3">
    <a href="/update/{{id}}" class="thumbnail" data-id="{{id}}">
        <div class="caption card-name">
            <h4>{{firstName}} {{lastName}}</h4>
        </div>
    </a>
</div>
{{/each}}